<h2>{{ car?.make }} {{ car?.model }}</h2>

<div *ngIf="!car">
  <p>Car not found.</p>
</div>


<div *ngIf="services.length > 0">
  <h3>Services:</h3>
  <ul>
    <li *ngFor="let service of services; let i = index" class="service-item">
      <div class="service-date">
        <span *ngIf="service.isEdited" class="edited-label">edited:</span>
        {{ service.dateAdded }} 
      </div>
      {{ i + 1 }}.
      <span *ngIf="service.partsCost !== null">Parts cost: {{ service.partsCost }}$</span>
      <span *ngIf="service.serviceCost !== null">Service cost: {{ service.serviceCost }}$</span>
      <span *ngIf="service.totalCost !== null">Total cost: {{ service.totalCost }}$</span>
      
      <div class="button-container">
        <button (click)="editService(i)" class="edit-action-button">
          <img src="assets/icons/edit.svg" alt="Edit" class="edit-action-icon" />
        </button>
        
        <button (click)="deleteService(i)" class="delete-action-button">
          <img src="assets/icons/trash.svg" alt="Delete" class="delete-action-icon" />
        </button>
      </div>
    </li>
  </ul>
</div>

<div *ngIf="services.length === 0">
  <h3>No services added yet.</h3>
</div>

<div *ngIf="showServiceForm">
  <h3>{{ isEditing ? 'Edit' : 'Add' }} Service</h3>
  
  <div>
    <label for="partsCost">Parts Cost:</label>
    <input 
      id="partsCost" 
      type="number" 
      [(ngModel)]="serviceDetails.partsCost" 
      (input)="updateTotalCost()" 
      required 
    />
  </div>
  
  <div>
    <label for="serviceCost">Service Cost:</label>
    <input 
      id="serviceCost" 
      type="number" 
      [(ngModel)]="serviceDetails.serviceCost" 
      (input)="updateTotalCost()" 
      required 
    />
  </div>

  <div class="total-cost-container">
    <label>Total:</label>
    <span>{{ serviceDetails.totalCost }}$</span>
  </div>

  <div>
    <button (click)="saveServiceDetails()">Save</button>
    <button (click)="cancelEdit()">Cancel</button>
  </div>
</div>

<button *ngIf="!showServiceForm" (click)="toggleServiceForm()">
  {{ services.length > 0 ? 'Add another service' : 'Add Service' }}
</button>
