@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'Roboto Flex';
  margin: auto; 
  overflow-x: hidden; 
  margin-right: 18px;
}

h1, h2, h3 {
  font-family: 'Roboto';
  color: #333;
  margin-bottom: 10px;
  margin-left: 18px;
}

form div {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
  margin-left: 18px;
}

label[for="model"] {
  margin-left: 0;  
}

input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin-left: 18px;
}

input:focus {
  border-color: #28a745;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 18px;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 40%; 
  margin-left: 18px;
}

li span {
  font-size: 16px;
  font-weight: bold;
}

li button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

li button:hover {
  background-color: #0056b3;
}

li button:focus {
  outline: none;
}

.input-sm {
  width: 50%;          
  height: 40px;      
  padding: 8px;    
  font-size: 14px;        
  border: 1px solid #ccc;  
  border-radius: 4px;    
  box-sizing: border-box;  
}

.selectors-container div:last-child label {
  margin-left: 0; 
}

.selectors-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}

.selectors-container div {
  flex: 1; 
}

.brand-selector {
  position: relative;
}

.brand-selector input,
.selectors-container select {
  width: 100%; 
  height: 40px; 
  box-sizing: border-box; 
}

.brand-list-form {
  position: absolute;
  width: 100%; 
  max-height: 200px; 
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  margin-top: 4px;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  margin-left: 18px;
}

.brand-list-form li {
  padding: 8px;
  cursor: pointer;
  width: 100%;
}

.brand-list-form li:hover {
  background-color: #f0f0f0;
}

label[for="model"], label[for="make"] {
  margin-left: 18px; 
  font-size: 12px;
}

.selectors-container div:last-child label {
  margin-left: 0; 
}

button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button.delete-icon-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  margin-left: auto;
}

button.delete-icon-button img.delete-icon {
  width: 20px;
  height: 20px;
}

button.details-icon-button {
  background-color: #007bff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  margin-right: 0;
}

button.details-icon-button .details-label {
  font-size: 14px;
  color: white;
}

button.details-icon-button img.details-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

button.details-icon-button:hover {
  background-color: #0056b3;
}

button.delete-icon-button:hover {
  background-color: #e0e0e0;
}

button.edit-icon-button,
.button.delete.button {
  background-color: #f0f0f0;
}

button.edit-icon-button:hover {
  background-color: #d4d4d4;
}

.service-date {
  font-size: 8px;
  color: black;
  position: absolute;
  top: 5px;
  left: 18px;
  z-index: 1;
  display: inline;
}

.edited-label {
  font-size: 8px;
  color: black;
  margin-right: 3px;
  font-weight: normal;
}

.service-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 18px;
}

.service-item:hover {
  transform: scale(1.02);
  background-color: #f1f1f1;
}

.service-item .button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.service-item button {
  margin-left: 10px;
  cursor: pointer;
}

.delete-icon-button,
.edit-icon-button {
  border: none;
  background: none;
  display: inline-block;
  cursor: pointer;
  padding: 5px;
}

.delete-icon-button:hover,
.edit-icon-button:hover {
  opacity: 0.8;
  color: #007bff;;
}

.edit-action-button,
.delete-action-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-action-icon,
.delete-action-icon {
  width: 20px;
  height: 20px;
}

.total-cost-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.total-cost-container label {
  font-weight: bold;
  margin-right: 20px;
}

.total-cost-container span {
  font-size: 1.2em;
  font-weight: bold;
  color: green;
}

@media (max-width: 480px) {
  label {
    width: 100px;
    font-size: 14px;
  }

  input {
    width: 100%;
    padding: 10px;
  }

  button {
    padding: 15px;
    font-size: 16px;
  }

  li {
    padding: 8px 0;
    font-size: 14px;
    width: 90%;
  }

  li button {
    font-size: 16px;
    padding: 10px;
  }
}
